.app-container {
  width: 100%;
  height: 100vh;
}

.header {
  height: 60px;
  background-color: #dbeafe;
  padding: 15px;
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
}

.next_slide_text {
  color: #0f172a;
  font-family: 'Bree Serif';
  font-size: 30px;
  font-weight: 500;
  padding-left: 15px;
}

.new_button {
  padding: 5px 15px 5px 15px;
  background-color: #dbeafe;
  color: #334155;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  border: none;
  margin-left: 10px;
  margin-top: 10px;
  font-family: 'Bree Serif';
  font-size: 14px;
  font-weight: 200;
  margin-bottom: 20px;
}

.content-container {
  display: flex;
  width: 100%;
}

.slide-container {
  width: 400px;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.active_slide-container {
  width: 55%;
  height: 600px;
  background-image: url('https://assets.ccbp.in/frontend/react-js/nxt-slides/nxt-slides-bg.png');
  background-size: cover;
  box-shadow: 10px 10px 10px 10px #f8fafc;
  border-radius: 10px;
  margin: 10px;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.active_slide_heading {
  font-family: 'Bree Serif';
  color: #0967d2;
  font-size: 36px;
}

.active_slide_description {
  font-family: 'Bree Serif';
  color: #334155;
  font-size: 36px;
}
