.slides-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  list-style-type: none;
  cursor: pointer;
  outline: none;
}

.card-container {
  background-color: #ffffff;
  box-shadow: 8px 8px 8px 8px #f8fafc;
  border-radius: 10px;
  height: 150px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: none;
  padding: 10px;
}

.card-heading {
  color: #0967d2;
  font-family: 'Roboto';
  font-size: 28px;
  font-weight: 500;
  line-height: 0;
}

.card-description {
  color: #475569;
  font-family: 'Bree Serif';
  font-size: 20px;
}
.number {
  color: #334155;
  font-weight: bold;
  align-items: start;
}
